<!DOCTYPE html>
<html>
<head>
<link rel="Stylesheet" type="text/css" href="%root_path%%css%">
<title>%title%Untertitel</title>
<meta http-equiv="Content-Type" content="text/html; charset=%encoding%">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: #ffebcd;
}
h1,h2,h3 {
	 color: #4CAF50;
}
</style>
</head>
<body>
%content%
</body>
<footer>
	<!--
	 written in markdown using <a href="https://vimwiki.github.io/">vimwiki</a>
	-->
</footer>
</html>
